body {
  background-color: white;
}
h1 {
  color: white;
  text-align: center;
  font-family: Georgia;
  font-size: 300%;
}
p {
  text-align: center;
  font-family: Georgia;
  font-size: 200%;
}
ul {
  list-style-type: none;
  text-align: center;
  width: 400px;
  margin: 0px 100px 0px 100px;
  padding: 0;
}
li {
  float: left;
}
li a {
  display: block;
  font-size: 200%;
  text-decoration: none;
  color: black;
  font-family: Georgia;
  padding: 100px;
}
