body {
  background-color: pink;
}
h1 {
  color: white;
  text-align: center;
  font-family: Georgia;
  font-size: 300%;
}
p {
  text-align: center;
  font-family: Georgia;
  font-size: 200%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: left;
}
a {
  display: block;
  padding: 8px;
  font-size: 200%;
  text-decoration: none;
  color: black;
  font-family: Georgia;
}
