body {
  background-color: white;
}
h1 {
  text-decoration: none;
  color: black;
  font-family: Georgia;
  font-size: 350%;
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 50px;
}
a {
  text-decoration: none;
  color: black;
}
.logo {
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}
.coverimg {
  text-align: center;
  padding: 0;
}
ul.menu {
  background-color: lightpink;
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0;
}
li.menuli a {
  float: left;
  display: block;
  text-decoration: none;
  color: white;
  font-family: Georgia;
  font-size: 200%;
  width: 25%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.active {
  background-color: #FF6C87;
}
li.menuli a:hover {
  background-color: pink;
  color: #FF6C87;
}
h2 {
 text-decoration:none;
 font-family: Georgia;
 font-weight: 100;
}
h3 {
  color: #FF6C87;
  font-family: Georgia;
  font-size: 400%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-weight: 100;
}
h4 {
  font-family: "Times New Roman";
  font-size: 150%;
  font-weight: 100;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}
h5 {
  font-family: "Times New Roman";
  font-size: 150%;
  font-weight: 100;
  text-align: center;
  margin: 0;
}
h6{
  text-decoration: underline;
  font-size: 200%;
  font-weight: 100;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}
li.ing {
  font-family: "Times New Roman";
  font-size: 125%;
  font-weight: 100;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}
li.step {
  font-family: "Times New Roman";
  font-size: 125%;
  font-weight: 100;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}
p {
  text-align: center;
}
.pic {
  max-width: 75%;
  max-height: 75%;
}
ul.sub {
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 0px;
  padding: 0;
}
li.subli a {
  float: left;
  display: block;
  text-decoration: none;
  color: black;
  font-family: Georgia;
  font-size: 150%;
  font-weight: 100;
  height: 300px;
  width: 25%;
  padding: 0;
  margin: 0 0 50px 0;
  background-color: yellow;
}
li.subli a img {
  height: 200px;
}
li.subli a:hover {
  color: #FF6C87;
}
